# Configuration file

"balance settings" {
    I:bagStackSize=512
    D:bitLightPercentage=6.25
    B:blacklistTickingBlocks=true
    B:compatabilityMode=true
    B:damageTools=true
    I:diamondChiselUses=796480
    I:diamondSawUses=7980
    B:enableBitLightSource=true
    B:enableChiselToolHarvestCheck=true
    S:enableChiselToolHarvestCheckTools=pickaxe,axe,shovel
    B:enableSetBitCommand=false
    B:enableToolHarvestLevels=true
    B:fullBlockCrafting=true
    I:goldChiselUses=1024
    I:ironChiselUses=293440
    D:maxDrawnRegionSize=4.0
    B:requireBagSpace=false
    I:stoneChiselUses=8384
    B:voidExcessBits=false
    I:wrenchUses=1888
}


"client performance settings" {
    B:defaultToDynamicRenderer=false
    I:dynamicMaxConcurrentTessalators=32
    I:dynamicModelFaceCount=40
    B:dynamicModelMinimizeLatancy=true
    I:dynamicModelRange=128
    B:dynamicRenderFullChunksOnly=true
    B:forceDynamicRenderer=false
    I:maxMillisecondsPerBlock=10
    I:maxMillisecondsUploadingPerFrame=15
    I:minimizeLatancyMaxTime=100
    S:useVBO=AUTOMATIC
}


"client settings" {
    B:addBrokenBlocksToCreativeClipboard=true
    B:chatModeNotification=false
    I:creativeClipboardSize=32
    B:displayMeasuringTapeInChat=false
    B:enableChiselMode_ConnectedMaterial=true
    B:enableChiselMode_ConnectedPlane=true
    B:enableChiselMode_DrawnRegion=true
    B:enableChiselMode_LargeCube=true
    B:enableChiselMode_Line=true
    B:enableChiselMode_MediumCube=true
    B:enableChiselMode_Plane=true
    B:enableChiselMode_SameMaterial=true
    B:enableChiselMode_SmallCube=true
    B:enableChiselMode_Snap2=true
    B:enableChiselMode_Snap4=true
    B:enableChiselMode_Snap8=true
    B:enablePositivePatternMode_Additive=true
    B:enablePositivePatternMode_Impose=true
    B:enablePositivePatternMode_Placement=true
    B:enablePositivePatternMode_Replace=true
    B:enableRightClickModeChange=false
    B:enableTapeMeasure_Bit=true
    B:enableTapeMeasure_Block=true
    B:enableTapeMeasure_Distance=true
    B:enableToolbarIcons=true
    B:fluidBitsAreClickThrough=true
    B:invertBitBagFullness=false
    B:itemNameModeDisplay=true
    I:maxTapeMeasures=5
    I:maxUndoLevel=32
    B:perChiselMode=true
    B:persistCreativeClipboard=true
    D:radialMenuVolume=0.10000000149011612
    B:showUsage=true
}


crafting {
    B:enableChiselCrafting=true
    B:enableNegativePrintInversionCrafting=true
    B:enablePositivePrintCrafting=true
    B:enableStackableCrafting=true
}


"enabled blocks" {
    B:allthelayers.candles.init.blocks.decorations.ATLCraftDecoBlockSolid=true
    B:alsender.earthworks.block.Block_Chalk=true
    B:alsender.earthworks.block.Block_Gabion=true
    B:alsender.earthworks.block.Block_Wood_Shingle=true
    B:alsender.earthworks.block.ModBlock=true
    B:alsender.earthworks.block.ModBlockFacing=true
    B:alsender.earthworks.block.ModRotatedPillar=true
    B:alsender.earthworks.block.timber.Daub_Cob=true
    B:alsender.earthworks.block.timber.Plaster=true
    B:biomesoplenty.common.block.BlockBOPAsh=true
    B:biomesoplenty.common.block.BlockBOPBiomeBlock=true
    B:biomesoplenty.common.block.BlockBOPCrystal=true
    B:biomesoplenty.common.block.BlockBOPGem=true
    B:biomesoplenty.common.block.BlockBOPGemOre=true
    B:biomesoplenty.common.block.BlockBOPGeneric=true
    B:biomesoplenty.common.block.BlockBOPHive=true
    B:biomesoplenty.common.block.BlockBOPLog=true
    B:biomesoplenty.common.block.BlockBOPPlanks=true
    B:biomesoplenty.common.block.BlockBOPWhiteSand=true
    B:biomesoplenty.common.block.BlockBOPWhiteSandstone=true
    B:com.creativemd.littletiles.common.blocks.BlockLTColored=true
    B:com.creativemd.littletiles.common.blocks.BlockStorageTile=true
    B:com.eractnod.eb.ediblebugs.blocks.TermiteBricksClass=true
    B:com.jaquadro.minecraft.storagedrawers.block.BlockTrim=true
    B:com.jaquadro.minecraft.storagedrawersextra.block.BlockTrimExtra=true
    B:com.kashdeya.tinyprogressions.blocks.EnderOre=true
    B:com.kashdeya.tinyprogressions.blocks.LavaOre=true
    B:com.kashdeya.tinyprogressions.blocks.compressed.BoneBlock=true
    B:com.kashdeya.tinyprogressions.blocks.compressed.CharcoalBlock=true
    B:com.kashdeya.tinyprogressions.blocks.compressed.FleshBlock=true
    B:com.kashdeya.tinyprogressions.blocks.compressed.FlintBlock=true
    B:com.kashdeya.tinyprogressions.blocks.compressed.NetherStarBlock=true
    B:com.kashdeya.tinyprogressions.blocks.decorations.AndesiteBrick=true
    B:com.kashdeya.tinyprogressions.blocks.decorations.Asphalt=true
    B:com.kashdeya.tinyprogressions.blocks.decorations.DioriteBrick=true
    B:com.kashdeya.tinyprogressions.blocks.decorations.GlowstoneColored=true
    B:com.kashdeya.tinyprogressions.blocks.decorations.GraniteBrick=true
    B:com.kashdeya.tinyprogressions.blocks.decorations.HardenedStone=true
    B:com.kashdeya.tinyprogressions.blocks.decorations.HardenedStoneBricks=true
    B:com.kashdeya.tinyprogressions.blocks.decorations.HardenedStoneSmallBricks=true
    B:com.kashdeya.tinyprogressions.blocks.decorations.SmoothEndStone=true
    B:com.kashdeya.tinyprogressions.blocks.decorations.UnhardenedBlock=true
    B:com.kashdeya.tinyprogressions.blocks.misc.DecoMain=true
    B:com.kashdeya.tinyprogressions.blocks.ores.EnderOre=true
    B:com.kashdeya.tinyprogressions.blocks.ores.LavaOre=true
    B:com.kashdeya.tinyprogressions.blocks.ores.NetherWubOre=true
    B:com.kashdeya.tinyprogressions.blocks.ores.WubOre=true
    B:com.kashdeya.tinyprogressions.blocks.reinforced.ReinforcedObsidian=true
    B:com.ldtteam.structurize.blocks.cactus.BlockCactusPlank=true
    B:com.ldtteam.structurize.blocks.decorative.BlockTimberFrame=true
    B:com.ldtteam.structurize.blocks.schematic.BlockSolidSubstitution=true
    B:com.ldtteam.structurize.blocks.schematic.BlockSubstitution=true
    B:com.minecolonies.coremod.blocks.BlockBarracksTowerSubstitution=true
    B:com.minecolonies.coremod.blocks.BlockSolidSubstitution=true
    B:com.minecolonies.coremod.blocks.BlockSubstitution=true
    B:com.minecolonies.coremod.blocks.BlockTimberFrame=true
    B:com.minecolonies.coremod.blocks.cactus.BlockCactusPlank=true
    B:com.minecolonies.coremod.blocks.decorative.BlockTimberFrame=true
    B:com.minecolonies.coremod.blocks.schematic.BlockSolidSubstitution=true
    B:com.minecolonies.coremod.blocks.schematic.BlockSubstitution=true
    B:com.pam.harvestcraft.blocks.blocks.BeeBlock=true
    B:com.pam.harvestcraft.blocks.blocks.BeehiveBlock=true
    B:com.pam.harvestcraft.blocks.blocks.WellBlock=true
    B:com.phylogeny.extrabitmanipulation.block.BlockBodyPartTemplate=true
    B:com.sofodev.armorplus.blocks.castle.base.BlockStoneBrick=true
    B:com.sofodev.armorplus.blocks.lava.BlockCrystalOre=true
    B:com.sofodev.armorplus.blocks.lava.BlockLavaMaterial=true
    B:com.sofodev.armorplus.blocks.lava.BlockLavaNetherBrick=true
    B:com.sofodev.armorplus.blocks.normal.BlockCompressedObsidian=true
    B:com.sofodev.armorplus.blocks.v2.BlockMetal=true
    B:com.sofodev.armorplus.common.blocks.castle.base.BlockStoneBrick=true
    B:com.sofodev.armorplus.common.blocks.lava.BlockCrystalOre=true
    B:com.sofodev.armorplus.common.blocks.lava.BlockLavaMaterial=true
    B:com.sofodev.armorplus.common.blocks.lava.BlockLavaNetherBrick=true
    B:com.sofodev.armorplus.common.blocks.metals.BlockMetal=true
    B:com.sofodev.armorplus.common.blocks.normal.BlockCompressedObsidian=true
    B:com.sofodev.armorplus.common.blocks.v2.BlockMetal=true
    B:com.sofodev.armorplus.common.registry.blocks.castle.base.BlockStoneBrick=true
    B:com.sofodev.armorplus.common.registry.blocks.lava.BlockCrystalOre=true
    B:com.sofodev.armorplus.common.registry.blocks.lava.BlockLavaMaterial=true
    B:com.sofodev.armorplus.common.registry.blocks.lava.BlockLavaNetherBrick=true
    B:com.sofodev.armorplus.common.registry.blocks.metals.BlockMetal=true
    B:com.sofodev.armorplus.common.registry.blocks.normal.BlockCompressedObsidian=true
    B:com.structurize.coremod.blocks.cactus.BlockCactusPlank=true
    B:com.structurize.coremod.blocks.decorative.BlockTimberFrame=true
    B:com.structurize.coremod.blocks.schematic.BlockSolidSubstitution=true
    B:com.structurize.coremod.blocks.schematic.BlockSubstitution=true
    B:knightminer.ceramics.blocks.BlockClayHard=true
    B:knightminer.ceramics.blocks.BlockClayRainbow=true
    B:knightminer.ceramics.blocks.BlockClaySoft=true
    B:knightminer.ceramics.blocks.BlockStained=true
    B:mob_grinding_utils.blocks.BlockDarkOakStone=true
    B:mob_grinding_utils.blocks.BlockDragonMuffler=true
    B:mob_grinding_utils.blocks.BlockWitherMuffler=true
    B:net.blay09.mods.cookingforblockheads.block.BlockKitchenFloor=true
    B:net.malisis.doors.block.RustyLadder=true
    B:net.minecraft.block.Block=true
    B:net.minecraft.block.BlockBone=true
    B:net.minecraft.block.BlockBookshelf=true
    B:net.minecraft.block.BlockClay=true
    B:net.minecraft.block.BlockColored=true
    B:net.minecraft.block.BlockCompressedPowered=true
    B:net.minecraft.block.BlockConcretePowder=true
    B:net.minecraft.block.BlockDirt=true
    B:net.minecraft.block.BlockDoubleStoneSlab=true
    B:net.minecraft.block.BlockDoubleStoneSlabNew=true
    B:net.minecraft.block.BlockDoubleWoodSlab=true
    B:net.minecraft.block.BlockGlass=true
    B:net.minecraft.block.BlockGlazedTerracotta=true
    B:net.minecraft.block.BlockGlowstone=true
    B:net.minecraft.block.BlockGrass=true
    B:net.minecraft.block.BlockGravel=true
    B:net.minecraft.block.BlockHardenedClay=true
    B:net.minecraft.block.BlockHay=true
    B:net.minecraft.block.BlockHugeMushroom=true
    B:net.minecraft.block.BlockIce=true
    B:net.minecraft.block.BlockMelon=true
    B:net.minecraft.block.BlockMycelium=true
    B:net.minecraft.block.BlockNetherBrick=true
    B:net.minecraft.block.BlockNetherrack=true
    B:net.minecraft.block.BlockNewLeaf=true
    B:net.minecraft.block.BlockNewLog=true
    B:net.minecraft.block.BlockObserver=true
    B:net.minecraft.block.BlockObsidian=true
    B:net.minecraft.block.BlockOldLeaf=true
    B:net.minecraft.block.BlockOldLog=true
    B:net.minecraft.block.BlockOre=true
    B:net.minecraft.block.BlockPackedIce=true
    B:net.minecraft.block.BlockPlanks=true
    B:net.minecraft.block.BlockPrismarine=true
    B:"net.minecraft.block.BlockPurpurSlab$Double"=true
    B:net.minecraft.block.BlockQuartz=true
    B:net.minecraft.block.BlockRedSandstone=true
    B:net.minecraft.block.BlockRedstoneLight=true
    B:net.minecraft.block.BlockRedstoneOre=true
    B:net.minecraft.block.BlockRotatedPillar=true
    B:net.minecraft.block.BlockSand=true
    B:net.minecraft.block.BlockSandStone=true
    B:net.minecraft.block.BlockSeaLantern=true
    B:net.minecraft.block.BlockSilverfish=true
    B:net.minecraft.block.BlockSlime=true
    B:net.minecraft.block.BlockSnowBlock=true
    B:net.minecraft.block.BlockSponge=true
    B:net.minecraft.block.BlockStainedGlass=true
    B:net.minecraft.block.BlockStainedHardenedClay=true
    B:net.minecraft.block.BlockStone=true
    B:net.minecraft.block.BlockStoneBrick=true
    B:net.minecraft.block.BlockWorkbench=true
    B:net.thedragonteam.armorplus.blocks.castle.base.BlockStoneBrick=true
    B:net.thedragonteam.armorplus.blocks.lava.BlockCrystalOre=true
    B:net.thedragonteam.armorplus.blocks.lava.BlockLavaMaterial=true
    B:net.thedragonteam.armorplus.blocks.lava.BlockLavaNetherBrick=true
    B:net.thedragonteam.armorplus.blocks.lava.BlockLavaType=true
    B:net.thedragonteam.armorplus.blocks.lava.LavaNetherBrick=true
    B:net.thedragonteam.armorplus.blocks.lava.OreLavaCrystal=true
    B:net.thedragonteam.armorplus.blocks.normal.BlockCompressedObsidian=true
    B:net.thedragonteam.armorplus.blocks.normal.CompressedObsidian=true
    B:net.thedragonteam.armorplus.blocks.v2.BaseMetalBlock=true
    B:net.thedragonteam.armorplus.blocks.v2.BlockMetal=true
    B:shadows.plants2.block.BlockEnumLog=true
    B:shadows.plants2.block.BlockEnumPlanks=true
    B:shadows.plants2.block.forgotten.BlockCrystalGround=true
    B:slimeknights.tconstruct.gadgets.block.BlockBrownstone=true
    B:slimeknights.tconstruct.gadgets.block.BlockDriedClay=true
    B:slimeknights.tconstruct.shared.block.BlockClearGlass=true
    B:slimeknights.tconstruct.shared.block.BlockClearStainedGlass=true
    B:slimeknights.tconstruct.shared.block.BlockDecoGround=true
    B:slimeknights.tconstruct.shared.block.BlockFirewood=true
    B:slimeknights.tconstruct.shared.block.BlockMetal=true
    B:slimeknights.tconstruct.shared.block.BlockOre=true
    B:slimeknights.tconstruct.shared.block.BlockSlime=true
    B:slimeknights.tconstruct.shared.block.BlockSlimeCongealed=true
    B:slimeknights.tconstruct.shared.block.BlockSoil=true
    B:slimeknights.tconstruct.smeltery.block.BlockSeared=true
    B:slimeknights.tconstruct.world.block.BlockSlimeDirt=true
    B:slimeknights.tconstruct.world.block.BlockSlimeLeaves=true
    B:"team.chisel.Features$30$1"=true
    B:"team.chisel.Features$31$1"=true
    B:"team.chisel.Features$32$1"=true
    B:"team.chisel.Features$33$1"=true
    B:"team.chisel.Features$36$1"=true
    B:"team.chisel.Features$37$1"=true
    B:"team.chisel.Features$48$1"=true
    B:"team.chisel.Features$49$1"=true
    B:"team.chisel.Features$56$1"=true
    B:"team.chisel.Features$57$1"=true
    B:"team.chisel.Features$6$1"=true
    B:"team.chisel.Features$7$1"=true
    B:"team.chisel.Features$72"=true
    B:"team.chisel.Features$73"=true
    B:team.chisel.common.block.BlockCarvable=true
    B:team.chisel.common.block.BlockCarvableCarpet=true
    B:team.chisel.common.block.BlockCarvableTranquility=true
    B:tehnut.xtones.block.BlockEnum=true
    B:tehnut.xtones.block.BlockXtone=true
    B:vazkii.quark.automation.block.BlockSugar=true
    B:vazkii.quark.building.block.BlockBark=true
    B:vazkii.quark.building.block.BlockCarvedWood=true
    B:vazkii.quark.building.block.BlockCharredNetherBricks=true
    B:vazkii.quark.building.block.BlockDuskbound=true
    B:vazkii.quark.building.block.BlockDuskboundLantern=true
    B:vazkii.quark.building.block.BlockHardenedClayTiles=true
    B:vazkii.quark.building.block.BlockIronPlate=true
    B:vazkii.quark.building.block.BlockMagmaBricks=true
    B:vazkii.quark.building.block.BlockMidori=true
    B:vazkii.quark.building.block.BlockMidoriPillar=true
    B:vazkii.quark.building.block.BlockNewSandstone=true
    B:vazkii.quark.building.block.BlockPolishedNetherrack=true
    B:vazkii.quark.building.block.BlockPolishedStone=true
    B:vazkii.quark.building.block.BlockQuiltedWool=true
    B:vazkii.quark.building.block.BlockReed=true
    B:vazkii.quark.building.block.BlockSandyBricks=true
    B:vazkii.quark.building.block.BlockSnowBricks=true
    B:vazkii.quark.building.block.BlockSoulSandstone=true
    B:vazkii.quark.building.block.BlockStainedClayTiles=true
    B:vazkii.quark.building.block.BlockStainedPlanks=true
    B:vazkii.quark.building.block.BlockSturdyStone=true
    B:vazkii.quark.building.block.BlockThatch=true
    B:vazkii.quark.building.block.BlockTurf=true
    B:vazkii.quark.building.block.BlockVerticalPlanks=true
    B:vazkii.quark.building.block.BlockVerticalStainedPlanks=true
    B:vazkii.quark.building.block.BlockWorldStoneBricks=true
    B:vazkii.quark.building.block.BlockWorldStoneCarved=true
    B:vazkii.quark.building.block.BlockWorldStonePavement=true
    B:vazkii.quark.decoration.block.BlockBlazeLantern=true
    B:vazkii.quark.decoration.block.BlockCharcoal=true
    B:vazkii.quark.decoration.block.BlockCustomBookshelf=true
    B:vazkii.quark.decoration.block.BlockLitLamp=true
    B:vazkii.quark.world.block.BlockBasalt=true
    B:vazkii.quark.world.block.BlockBiomeBrick=true
    B:vazkii.quark.world.block.BlockBiomeCobblestone=true
    B:vazkii.quark.world.block.BlockBiotite=true
    B:vazkii.quark.world.block.BlockBiotiteOre=true
    B:vazkii.quark.world.block.BlockCrystal=true
    B:vazkii.quark.world.block.BlockElderPrismarine=true
    B:vazkii.quark.world.block.BlockElderSeaLantern=true
    B:vazkii.quark.world.block.BlockLimestone=true
    B:vazkii.quark.world.block.BlockMarble=true
    B:xyz.vsngamer.elevator.blocks.BlockElevator=true
}


"integration settings" {
    B:ShowBitsInJEI=false
    B:enableMCMultipart=true
    B:enableVivecraftCompatibility=false
}


items {
    B:enableBitBag=true
    B:enableBitSaw=true
    B:enableBitTank=true
    B:enableChisledBits=true
    B:enableDiamondChisel=true
    B:enableGoldChisel=true
    B:enableIronChisel=true
    B:enableMirrorPrint=true
    B:enableNegativePrint=true
    B:enablePositivePrint=true
    B:enableStoneChisel=true
    B:enableTapeMeasure=true
    B:enableWoodenWrench=true
}


troublershooting {
}


troubleshooting {
    B:disableCustomVertexFormats=false
    B:enableAPITestingItem=false
    B:enableFaceLightmapExtraction=true
    B:logEligibilityErrors=false
    B:logTileErrors=false
    B:useGetLightValue=true
}


