# Configuration file

"dragon syllable pool" {
    # Prefixes that can occur before name [default: [Ljava.lang.String;@6e884886]
    S:"Name Prefix" <
     >

    # Suffixes that can occur after name [default: [Ljava.lang.String;@46555c2]
    S:"Name Suffix" <
     >

    # First half of one-syllable name
    # Check out https://en.wikipedia.org/wiki/List_of_Unicode_characters
    # for unicode keys.
    #  [default: [Ljava.lang.String;@2c1723d3]
    S:"One-Syllable Begin" <
        Ddrai
        Dra
        Dre
        Gyo
        Ku
        Ló
        Nea
        Smo
        Wy
        Ya
        Yo
        Zmei
     >

    # Second half of one-syllable name [default: [Ljava.lang.String;@f23c0c9]
    S:"One-Syllable End" <
        c
        g
        k
        k
        m
        ng
        ng
        q
        r
        rm
     >

    # Transitional first syllable [default: [Ljava.lang.String;@234375d3]
    S:"Syllable 1 Transitional" <
        A
        A
        A
        A
        A
        Ab
        Ai
        Aj
        Az
        Ba
        Ba
        Boi
        Bol
        Br
        Co
        Con
        Cu
        Drá
        Dra
        E
        E
        Ej
        Ev
        Faf
        Gor
        Gui
        Huang
        Hy
        I
        I
        Il
        Jör
        Ku
        Kul
        La
        La
        Le
        Lind
        Lo
        Mu
        Ní
        Na
        No
        O
        Ou
        Pak
        Py
        Q'
        Qing
        Quet
        Ry
        Ry
        Sár
        Sei
        Slib
        Te
        Te
        The
        Ti
        Ty
        Ve
        Vish
        Vri
        Wy
        Xiu
        Yil
        Zbu
        Zi
        Zi
        Zir
        Zo
     >

    # Terminating second syllable (use ^ for leading/ending spaces) [default: [Ljava.lang.String;@da6ef3c]
    S:"Syllable 2 Terminal" <
        ap
        ca
        don
        dra
        ga
        go
        gon
        kon
        la
        lant
        lant
        laur
        long
        long
        mok
        nir
        pep
        phon
        rasque
        ren
        rit
        ryu
        tan
        thon
        tra
        u
        vern
        vre
        worm
        zu
     >

    # Transitional second syllable (use ^ for leading/ending spaces) [default: [Ljava.lang.String;@18ba4ce0]
    S:"Syllable 2 Transitional" <
        é
        a
        a
        be
        co
        da
        der
        dhög
        do
        gar
        hang
        i
        ju
        ká
        ku
        ku
        kul
        lu
        ma
        moo
        mun
        nen
        ni
        pa
        po
        ra
        re
        ren
        ren
        ro
        ro
        shed
        shus
        ta
        u
        u
        ve
        vi
        y
        zal
        zhi
     >

    # Terminating third syllable (use ^ for leading/ending spaces) [default: [Ljava.lang.String;@98ef2b6]
    S:"Syllable 3 Terminal" <
        ba
        chi
        chi
        gän
        gi
        gr
        ha
        ha
        jin
        kan
        kyl
        mat
        nas
        ny
        nych
        phis
        ra
        ru
        sky
        su
        suge
        tá
        tat
        tor
        tra
        zel
     >

    # Transitional third syllable (use ^ for leading/ending spaces) [default: [Ljava.lang.String;@31dbe3b9]
    S:"Syllable 3 Transitional" <
        ^Cel
        ^Da
        ^Ja
        ^We
        a
        a
        bo
        co
        flót
        gan
        la
        le
        na
        q'
        yan
     >

    # Terminating fourth syllable (use ^ for leading/ending spaces) [default: [Ljava.lang.String;@bbe35b1]
    S:"Syllable 4 Terminal" <
        bre
        do
        dr
        en
        kas
        la
        ros
        than
        tl
        wa
     >

    # Transitional fourth syllable (use ^ for leading/ending spaces) [default: [Ljava.lang.String;@4129b56a]
    S:"Syllable 4 Transitional" <
        a
        gu
        ha
        sor
        u
     >

    # Terminating fifth syllable (use ^ for leading/ending spaces) [default: [Ljava.lang.String;@3fccf4bb]
    S:"Syllable 5 Terminal" <
        a
        ka
        matz
        mur
        tl
     >

    # Transitional fifth syllable (use ^ for leading/ending spaces) [default: [Ljava.lang.String;@51e41ed0]
    S:"Syllable 5 Transitional" <
     >

    # Terminating sixth syllable (use ^ for leading/ending spaces) [default: [Ljava.lang.String;@2b8daae0]
    S:"Syllable 6 Terminal" <
     >

    # Transitional sixth syllable (use ^ for leading/ending spaces) [default: [Ljava.lang.String;@2783d81e]
    S:"Syllable 6 Transitional" <
     >

    # Terminating seventh syllable (use ^ for leading/ending spaces) [default: [Ljava.lang.String;@7fb29979]
    S:"Syllable 7 Terminal" <
     >
}


